@media (min-width: 320px) and (max-width: 991px) {

    header .address{

        text-align: center;
        
    }

    header .welcome{

        clip-path: none;
    }

    header .icon{
        text-align: center;
    }

}


@media (min-width: 992px){

    #navbarSupportedContent ul{

        display: none;
    }

    #navbarSupportedContent .menu_icon{

        margin-left: auto;
    } 

    .container{

        position: relative;
    
    }
    .my_class .logo{

        position: absolute;
        margin-left: 50%;
        transform: translateX(-62%);
        transition: 0.60s;
    }

    .my_class{

        min-height: 100px;
    }

    .my_class .activeLogo{

        margin-left: 0%;
        transform: translateX(-0%);
        transition: 0.60s;
        
    }

    
}

@media(min-width:320px) and (max-width: 575px) {

    #services .services_text p {
        
        
        padding: 0 0px;
    }
}